* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

header, section, nav, footer {
    display: block;
}

img {
    border-style: none;
    border-width: 0px;
}

img#icon {
    float: left;
}

h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    height: 100px;
    width: 100%;
    overflow: hidden;
    background: left;
    background-image: url(prj.png);
    background-repeat: no-repeat;
}

p {
    margin-left: calc(25% - 50px);
    margin-right: calc(25% - 50px);
}

p.projectname {
    height: 80px;
    line-height: 80px;
    font-size: 3em;
    text-align: center;
}

p.projectdescription {
    height: 20px;
    line-height: 20px;
    font-size: 0.7em;    
    text-align: center;
}

p.note {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 0.7em;
}

p.link {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0px 0px 5px grey;
    border-radius: 10px;
    text-align: center;
}

p.link:hover {
    box-shadow: 0px 0px 5px chocolate;
    text-shadow: 0px 0px 5px chocolate;
}

p.normal {
    text-indent: 25px;
}

span.code {
    font-family: monospace;
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-shadow: 0px 0px 5px chocolate;
}

dt {
    margin-left: calc(25% - 50px);
    margin-right: calc(25% - 50px);
}

nav {
    text-align: center;
}

h2 {
    margin-left: calc(25% - 50px);
    margin-right: calc(25% - 50px);
}

li {
    margin-left: calc(25% - 50px);
    margin-right: calc(25% - 50px);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0px 0px 5px grey;
    border-radius: 10px;
}

li:hover {
    box-shadow: 0px 0px 5px chocolate;
    text-shadow: 0px 0px 5px chocolate;
}

dd {
    margin-left: calc(25% - 50px);
    margin-right: calc(25% - 50px);
    text-indent: 25px;
    text-align: left;
    margin-bottom: 1em;
}

dt {
    margin-top: 1em;
    font-family: monospace;
    font-weight: bold;
}

blockquote {
    margin-left: calc(25% - 50px);
    margin-right: calc(25% - 50px);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0px 0px 5px grey;
    border-radius: 10px;
}

blockquote.left {
    margin-left: calc(25% - 50px);
    margin-right: calc(40% - 50px);
    border-top-left-radius: 0
}

blockquote.right {
    margin-left: calc(40% - 50px);
    margin-right: calc(25% - 50px);
    border-top-right-radius: 0
}

pre {
    margin-left: calc(25% - 50px);
    margin-right: calc(25% - 50px);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0px 0px 5px grey;
    border-radius: 10px;
    font-family: monospace;
}

pre.input {
    color: lightgray;
    background-color: black;
}

pre.input li {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    box-shadow: none;
    border-radius: 0px;
    line-height: 1em;
}

pre.input li:before {
    color: chocolate;
    font-weight: bold;
    content: "$ ";
}

figure {
    margin-left: calc(25% - 50px);
    margin-right: calc(25% - 50px);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0px 0px 5px grey;
    border-radius: 10px;
}

figcaption {
    font-size: 0.7em;
    margin-top: 15px;
    color: gray;
    text-align: center;
}

.overlay{
    position: fixed;
    top: 100px;
    margin-left: 100px;
    width: calc(100% - 200px);
    height: calc(100% - 160px);
    background-color: white;
    overflow: auto;
    display: none;
}

.overlay:target {
    display: block;
}

footer {
    height: 45px;
    overflow: hidden;
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding-top: 10px;
    box-shadow: 0px 0px 5px gray;
    background-color: white;
    z-index: 1;
}

footer p.cc-icon {
    height: 31px;
    line-height: 31px;
}

footer p.cc-text {
    height: 14px;
    line-height: 14px;
    font-size: 0.7em;
    color: gray;
}

footer img:hover {
    box-shadow: 0px 0px 5px chocolate;
}

a.license {
    color: gray;
}

a.license:hover {
    text-shadow: 0px 0px 5px chocolate;
}
